<html>
    <head>
        <title>{% block title %}davblog{% endblock %}</title>
        <link href='http://fonts.googleapis.com/css?family=Molengo' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/static/reset-fonts-grids.css">
        <link rel="stylesheet" type="text/css" href="/static/davbo.css">
        <link href="{{ url_for('recent_feed') }}"
              rel="alternate"
              title="Recent Posts" 
              type="application/atom+xml">
    </head>
    <body>
        <div id="hd">
            <h1><a href="/">davb<span class="quiet">l</span>o<span class="quiet">g</span></a></h1>
            <ul>
                <li><a href="http://twitter.com/#!/davbo">twitter</a></li>
                <li><a href="https://github.com/davbo">github</a></li>
                <li><a href="http://www.flickr.com/photos/davbo/">flickr</a></li>
                <li><a href="http://www.reddit.com/user/davbo/">reddit</a></li>
                <li><a href="http://www.last.fm/user/Davbo">last.fm</a></li>
                <li><a href="http://www.metafilter.com/user/131038">metafilter</a></li>
                <li><a href="http://www.giantbomb.com/profile/davbo/">giantbomb</a></li>
            </ul>
        </div>
        <div id="bd">
            {% block body %}{% endblock %}
        </div>
        <div id="ft">
        </div>
    </body>
</html>
